<div class="span9">
  <div class='page-header'>
    <h1>Files & Images</h1>
  </div>
  <table class="table table-striped">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Type</th>
      <th>Size</th>
      <th></th>
    </tr>

    <% @assets.each do |asset| %>
      <tr>
        <th><%= image_tag asset.asset.thumb('80x80').url if asset.asset_uid %></th>
        <td><%= asset.asset_name %></td>
        <td><%= asset.asset_mime_type %></td>
        <td><%= number_to_human_size(asset.asset_size) %></td>
        <td>
          <%= link_to 'Edit', [:edit, :admin, asset], :class => 'btn btn-primary btn-small' %>
          <%= link_to 'View', [:admin, asset], :class => 'btn btn-success btn-small' %>
          <%= link_to 'Destroy', [:admin, asset], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-small' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="span3">
  <div class='page-header'>
    <h1>Options</h1>
  </div>
  <ul class="nav nav-tabs nav-stacked">
    <li><%= link_to 'Add an Image', new_admin_asset_path %></li>
    <li><%= link_to 'Add a File', new_admin_asset_path %></li>
    <li><%= link_to "Test Link", '#' %></li>
    <li><%= link_to "Test Link", '#' %></li>
    <li><%= link_to "Test Link", '#' %></li>
  </ul>
</div>
