<div class="span9">
  <div class='page-header'>
    <h1>Categories</h1>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Times been used</th>
      <th>Actions</th>
    </tr>

    <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.categoricals.size %></td>
      <td>
        <%= link_to 'Edit', [:edit, :admin, category], :class => 'btn btn-primary btn-small' %>
        <%= link_to 'Delete', [:admin, category], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-small' %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<div class="span3">
  <div class='page-header'>
    <h1>Options</h1>
  </div>
  <ul class="nav nav-tabs nav-stacked">
    <li><%= link_to 'Add a Category', new_admin_category_path %></li>
    <li><%= link_to "Test Link", '#' %></li>
    <li><%= link_to "Test Link", '#' %></li>
    <li><%= link_to "Test Link", '#' %></li>
  </ul>
</div>

