<%= form_for [:admin, @slide] do |f| %>
  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<h2>Upload file</h2>
<%= s3_uploader_form post: admin_assets_path, as: "image_url", :resource_type => @slide.class.to_s, :resource_id => @slide.id do %>
  <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->

    <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-success fileinput-button">
      <i class="icon-plus icon-white"></i>
      <span>Add files...</span>
      <%= file_field_tag :file, :multiple => true %>
    </span>

<% end %>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress">
      <div class="bar" style="width: 0%">
      </div>
    </div>
  </div>
</script>

<br />
