<%= content_for :page_title do %>
  <% if @portfolio.meta_content && !@portfolio.meta_content.meta_title.blank? %>
    <%= @portfolio.meta_content.meta_title %>
  <% else %>
    <%= @portfolio.title %>
  <% end %>
<% end %>
<%= content_for :page_keywords do %>
  <% if @portfolio.meta_content %>
    <%= @portfolio.meta_content.meta_keywords %>
  <% end %>
<% end %>
<%= content_for :page_description do %>
  <% if @portfolio.meta_content %>
    <%= @portfolio.meta_content.meta_description %>
  <% end %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @portfolio.title %>
</p>

<p>
  <b>Intro:</b>
  <%= @portfolio.intro %>
</p>

<p>
  <b>Content:</b>
  <%= @portfolio.content %>
</p>

<%= link_to 'Back', portfolios_path %>
