<!DOCTYPE html>
<html>
<head>
  <title>Wafflemix Admin</title>
  <%= stylesheet_link_tag    "wafflemix/admin/admin", :media => "all" %>
  <%= javascript_include_tag "wafflemix/admin/admin_js" %>
  <%= csrf_meta_tags %>
  <%= yield :custom_js %>
</head>
<body>
  <%= top_nav %>
  <div class="container-fluid container">
    <%= main_subnav %>
    <div class="row-fluid">
      <%= yield %>
    </div>
  </div>
</body>
</html>
