<!DOCTYPE html>
<html>
<head>
  <title>Wafflemix</title>
  <%= stylesheet_link_tag    "wafflemix/application", :media => "all" %>
  <%= javascript_include_tag "wafflemix/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= top_nav %>
  <div class="container-fluid container">
    <%= main_subnav %>
    <div class="row-fluid">
      <%= yield %>
    </div>
  </div>
</body>
</html>
