<h1>Blog</h1>

<div class="span8">
<% @posts.each do |post| %>
  <div class="article post">
    <h2><%= post.title %></h2>
    <% if post.published_at %>
      <p class="published_on"><%= post.published_at.to_date.to_formatted_s(:long_ordinal) %></p>
    <% end %>
    <p class="post_content"><%= post.body.html_safe if !post.body.blank? %></p>
    <p class="read_more"><%= link_to 'read more', post %></p>
  </div>
<% end %>
</div>

<div class="span3">
  <h3>Sidebar</h3>
  <h4>Categories</h4>
  <ul class="sidebar_section">
    <% ::Wafflemix::Category.all.each do |category| %>
      <li><%= link_to category.name, wafflemix.category_path(category) %></li>
    <% end %>
  </ul>
  <h4>Tags</h4>
  <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <li><%= link_to tag.name, wafflemix.tagged_post_path(tag.name), :class => css_class %></li>
  <% end %>
</div>
