<div class="sort_handle">
  <div class="list_item clearfix">
    <div class="list_content">
      <p><b><%= page.title %></b></p>
      <p>Shown in Menu: <%= page.show_in_menu ? 'Yes' : 'No' %></p>
      <p>Published: <%= page.draft ? 'No' : 'Yes' %></p>
    </div>
    <p class="list_actions">
      <%= link_to 'Edit Settings', edit_admin_page_path(page), :class => 'btn btn-primary btn-small' %>
      <%= link_to 'Edit Content', "/editor/pages/#{page.id}", :class => 'btn btn-primary btn-small' %>
      <%= link_to 'View Page', page, :class => 'btn btn-success btn-small' %>
      <%= link_to 'Delete', [:admin, page], confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger btn-small' %>
    </p>
  </div>
</div>