<div class="span9">
  <div class='page-header'>
    <h1>Content Pages</h1>
  </div>
  <ul class="sortable" data-update-url="<%= sort_admin_pages_path %>">
    <%= tree_view(@pages) %>
  </ul>
</div>

<div class="span3">
  <div class='page-header'>
    <h1>Options</h1>
  </div>
  <ul class="nav nav-tabs nav-stacked">
    <li><%= link_to 'Add a Page', new_admin_page_path %></li>
    <li><%= link_to "Test Link", '#' %></li>
    <li><%= link_to "Test Link", '#' %></li>
    <li><%= link_to "Test Link", '#' %></li>
    <li><%= link_to "Test Link", '#' %></li>
  </ul>
</div>