<div class="span9">
  <div class='page-header'>
    <h1>Content Pages</h1>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Show in menu</th>
      <th>Link url</th>
      <th>Draft</th>
      <th>Actions</th>
    </tr>

  <% @pages.each do |page| %>
    <tr>
      <td><%= page.title %></td>
      <td><%= page.show_in_menu %></td>
      <td><%= page.link_url %></td>
      <td><%= page.draft %></td>
      <td>
        <%= link_to 'Edit', edit_admin_page_path(page), :class => 'btn btn-primary btn-small' %>
        <%= link_to 'View Page', page, :class => 'btn btn-success btn-small' %>
        <%= link_to 'Delete', [:admin, page], confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger btn-small' %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<div class="span3">
  <div class='page-header'>
    <h1>Options</h1>
  </div>
  <ul class="nav nav-tabs nav-stacked">
    <li><%= link_to 'Add a Page', new_admin_page_path %></li>
    <li><%= link_to "Test Link", '#' %></li>
    <li><%= link_to "Test Link", '#' %></li>
    <li><%= link_to "Test Link", '#' %></li>
    <li><%= link_to "Test Link", '#' %></li>
  </ul>
</div>